.elements {
  display: grid;
  row-gap: 17px;
  column-gap: 20px;
}

@media screen and (min-width: 320px) {
  .elements {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 36px auto 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 47.25px auto 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .elements {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
