.profile__edit-button {
  background-color: black;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: url("../../../images/pen.png");
  background-repeat: no-repeat;
  background-position: center;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (min-width: 320px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 768px) {
  .profile__edit-button {
    margin-left: 18px;
    height: 24px;
    width: 24px;
  }
}
