.popup__content {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding-bottom: 13px;
}
.popup__content:last-of-type {
  margin-top: 23px;
  margin-bottom: 0;
}
.popup__content:invalid {
  border-bottom: 1px solid red;
}
