.element__trash {
    display: none;
    background: url('../../../images/Trash.svg');
    background-position: center;
    border: transparent;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    padding: 0;
    
    width: 18px;
  height: 19px;

}
.element__trash:hover {
    opacity: 0.6;
}